[flake8]
exclude=
    .git
    __pycache__
    .pytest_cache
    build
    dist

max-line-length=120

ignore=
    E121  # Hanging indent rules are a pain and sometimes result in uglier code. 
    E122  # We should just human-check hanging indents for readability in PRs instead.
    E123  # See: https://pep8.readthedocs.io/en/release-1.7.x/intro.html
    E124
    E125
    E126
    E127
    E128  # Not ignoring E129, E131, E133 since they're actually good ideas
    W503
    E266  # number of #'s before a block comment; why is this even a problem?
